<div id="support">
<div class="row">
<a href="http://www.akashicbooks.com/" target="partner"><img src="/images/akbooks.gif" alt="akbooks" width="140" height="27"></a>
<a href="http://www.daveyd.com/" target="partner"><img src="/images/Banner-DaveyD-thirdspace.png" alt="hip-hip-corner" width="140" height="43"></a>
<a href="http://boldnebraska.org/" target="partner"><img src="/images/BoldNebraska.jpg" alt="bold-nebraska" width="140" height="35"></a>
<a href="http://www.democrats.com/" target="partner"><img src="/images/dems_logo_10.png" alt="echo-ditto" width="140" height="45"></a>
<a href="http://livingliberally.org/" target="partner"><img src="/images/livingliberally.png" alt="living-liberally" width="140" height="28"></a>
</div>
<div class="row">
<a href="http://www.actnowny.org/" target="partner"><img src="/images/actnow.png" alt="act-now" width="140" height="61"></a>
<a href="http://www.echoditto.com/" target="partner"><img src="/images/echogmaillogo2.png" alt="echo-ditto" width="140" height="56"></a>
<a href="http://www.neweracolorado.org/" target="partner"><img src="/images/new-era-colorado.png" alt="New Era Colorado" width="140" height="36"></a>
<a href="http://www.progressivemajority.org/" target="partner"><img src="/images/pda_logo_color.gif" alt="Progressive Ohio" width="140" height="38"></a>
<a href="http://progressohio.org/" target="partner"><img src="/images/ProgressOhio.ORGLogo.jpg" alt="Progress Ohio" width="140" height="17"></a>
</div>   
<div class="row">
<a href="http://www.other98.com/" target="partner"><img src="/images/other98.png" alt="Other 98%" width="138" height="140"></a>
<a href="http://domorethanvote.com" target="partner"><img src="/images/domorethanvoteflat.jpg" alt="Do More Than Vote" width="140" >
<a href="http://www.futuremajority.com/" target="partner"><img src="/images/FutureMajorityLogo.png" alt="Future Majority" width="121" height="140"></a>
<a href="http://www.globalgrind.com/" target="partner"><img src="/images/GlobalGrind_logo_125x125.jpg" alt="Global Grind" width="140" height="140"></a>
<a href="http://www.progressivemajority.org/" target="partner"><img src="/images/PM_Final-Logo-TagLineBelow-square.jpg" alt="Progressive Majority" width="140" height="140"></a>

</div>
<div class="row">
<a href="http://letsbuildthismovement.wordpress.com/" target="partner"><img src="/images/allhandsondeck.png" alt="All Hands On Deck" width="140" ></a>
<a href="http://salsalabs.com/o/8001/p/salsa/website/labs/" target="partner"><img src="/images/salsa.jpg" alt="Salsa Labs" width="140"></a>
<a href="http://thesouthernshift.com/" target="partner"><img src="/images/southernshiftbanner.jpg" alt="the-southern-shift" width="140" height="50">
<a href="http://www.wellstoneaction.org/" target="partner"><img src="/images/WellstoneAction.gif" alt="Wellstone Action" width="140" height="60"></a>

</div>
<div class='clear'></div>
</div><!-- END SUPPORT -->
 <div id="footer">
  <% unless @c3 -%>
    <div id="expenditure-notice">
      This section paid for by League of Young Voters Political Action Committee (LYV PAC) 310 Atlantic Ave, 2nd Floor Brooklyn, NY 11201, Robert Baker, Treasurer. Not paid for by any candidate or candidate's committee.  Voter Guides posted on this site may not reflect the position of LYV PAC or its affiliated organizations.
    </div>
  <% end -%>
<br>
<br>  
<div id="contact-us">Something not working correctly?  <script type="text/javascript">
<!--
document.write('<a href="mai' + 'lto:' + 'voterg' + 'uides' + '@' + 'thel' + 'ea' + 'gue' + '.' + 'co' + 'm' + '">' + 'Let us know' + '</a>')
 //-->
</script>.</div>
<div id="hosted-by"><%= link_to 'View Site Credits', credits_url %>&nbsp;&nbsp;&bull;&nbsp;&nbsp;<span id="hosting_icon"><a href="http://engineyard.com" target="_blank"><img src="/images/engineyard.gif" alt="Reliably Hosted at Engine Yard" border="0" valign="bottom"></a></span><!--  Reliably hosted by <%= link_to 'Engine Yard', 'http://engineyard.com', :target => '_blank' %> --></div>
<br class="clear" />

<!--  <span id="copyright">&#169;2006 <a href="http://indyvoter.org" target="_blank">The League of Young Voters</a></span> -->

<% if logged_in? && current_user.is_admin? -%><br/><span style="color: white;">IP: <%= request.env['SERVER_ADDR'] %>; rails ver: <%= RAILS_GEM_VERSION %></span><% end -%>

</div>
