<div id="support">
  <div id="support-padder">
    <h4 style="font-family: Arial, san-serif; color:#666666;font-size: 20px; padding: 20px;">Partners</h4>
<div class="row">
<a href="http://www.facebook.com/pages/Progressive-Alliance-Cook-County/161585600519611" target="partner"><img src="/images/PA-CC-Logo.gif" alt="Progressive Alliance Cook County" /></a>
<a href="http://www.democracyforamerica.com/" target="partner"><img src="/images/DFA-White-Logo.gif" alt="Democracy for America"/></a>
<a href="http://www.seiu.org/" target="partner"><img src="/images/seiuorg-logo-500.gif" alt="SEIU"></a>
<div class="row">
<a href="http://www.akashicbooks.com/" target="partner"><img src="/images/akbooks.gif" alt="akbooks" width="140" height="27"></a>
<a href="http://www.daveyd.com/" target="partner"><img src="/images/Banner-DaveyD-thirdspace.png" alt="hip-hip-corner" width="140" height="43"></a>
<a href="http://boldnebraska.org/" target="partner"><img src="/images/BoldNebraska.jpg" alt="bold-nebraska" width="140" height="35"></a>
</div>
<div class="row">
<a href="http://www.democrats.com/" target="partner"><img src="/images/dems_logo_10.png" alt="echo-ditto" width="140" height="45"></a>
<a href="http://livingliberally.org/" target="partner"><img src="/images/livingliberally.png" alt="living-liberally" width="140" height="28"></a>

<a href="http://progressohio.org/" target="partner"><img src="/images/ProgressOhio.ORGLogo.jpg" alt="Progress Ohio" width="140" height="17"></a>
</div>
<div class="row">
<a href="http://www.echoditto.com/" target="partner"><img src="/images/echogmaillogo2.png" alt="echo-ditto" width="140" height="56"></a>
<a href="http://www.neweracolorado.org/" target="partner"><img src="/images/new-era-colorado.png" alt="New Era Colorado" width="140" height="36"></a>
<a href="http://www.progressivemajority.org/" target="partner"><img src="/images/pda_logo_color.gif" alt="Progressive Ohio" width="140" height="38"></a>
</div>
<div class="row">

<a href="http://www.futuremajority.com/" target="partner"><img src="/images/FutureMajorityLogo.png" alt="Future Majority" width="121" height="140"></a>
<a href="http://www.other98.com/" target="partner"><img src="/images/other98.png" alt="Other 98%" width="138" height="140"></a>
<a href="http://domorethanvote.com" target="partner"><img src="/images/domorethanvoteflat.jpg" alt="Do More Than Vote" width="140" >
</div>
<div class="row">

<a href="http://thesouthernshift.com/" target="partner"><img src="/images/southernshiftbanner.jpg" alt="the-southern-shift">
<a href="http://www.globalgrind.com/" target="partner"><img src="/images/GlobalGrind_logo_125x125.jpg" alt="Global Grind"></a>
  <a href="http://www.progressflorida.org" target="partner"><img src="/images/ProgressFlorida.png" alt="Progress Florida" width="140" height="21"></a>
</div>
<div class="row">
<a href="http://letsbuildthismovement.wordpress.com/" target="partner"><img src="/images/allhandsondeck.png" alt="All Hands On Deck" width="140" ></a>
<a href="http://www.fusewashington.org/" target="partner"><img src="/images/FuseLogo.png" alt="Fuse" ></a>
  <a href="http://velvetrevolution.us" target="partner"><img src="/images/VelvetRevolution.png" alt="Velvet Revolution" width="140" height="98"></a>
</div>
<div class="row">
  <a href="http://www.azprogress.org/" target="partner"><img src="/images/ArizonaProgressAction.jpg" alt="Arizona Progress Action" width="140" height="140"></a>
  <a href="http://www.coffeepartyusa.com/content/coffee-vote-2010" target="partner"><img src="/images/coffee-vote.jpg" alt="Coffee Vote"></a>
  <a href="http://www.facebook.com/coffeepartyprogressives" target="partner"><img src="/images/CoffeePartyProgressives.png" alt="Coffee Party Progressives" width="140" height="127"></a>
</div>
<div class="row">
  <a href="http://21stcenturydems.org/" target="partner"><img src="/images/21CD_logo_PMS361.png" alt="21st Century Democrats" ></a>
  <a href="http://granitestateprogress.org/" target="partner"><img src="/images/GraniteStateProgress.jpg" alt="Granite State Progress" width="140" height="60"></a>
  <a href="http://www.keystoneprogress.org" target="partner"><img src="/images/KeystoneProgress.gif" alt="Keystone Progress" width="140" height="72"></a>
</div>
<div class="row">
  <a href="http://www.wellstoneaction.org/" target="partner"><img src="/images/WellstoneAction.gif" alt="Wellstone Action"></a>
  <a href="http://www.theleague.com" target="partner"><img src="/images/lyv-pac-logo.png" alt="League of Young Voters" width="140" height="49"></a>
<a href="http://www.progressivemajority.org/" target="partner"><img src="/images/PM_Final-Logo-TagLineBelow-square.jpg" alt="Progressive Majority"></a>
</div>
<div class="row">
  <a href="http://www.progressnownevada.org/" target="partner"><img src="/images/ProgressNowNevada.gif" alt="Progress Now Nevada" width="140" height="33"></a>
<a href="http://www.actnowny.org/" target="partner"><img src="/images/actnow.png" alt="act-now" width="140" height="61"></a>
<a href="http://salsalabs.com/o/8001/p/salsa/website/labs/" target="partner"><img src="/images/salsa.jpg" alt="Salsa Labs" width="140"></a>
</div>
</div>
</div>
</div>
